header{
    background-color: var(--header-color);
    margin: 0px;
}

  
  .navbar {
      padding-top:0;
      padding-bottom: 0;
  }
  .nav-item {
      // background-color: var(--primary);
       color: white !important;
       cursor: pointer;
       padding: 5px 10px;
    
     &.active {
         border-bottom: 2px solid white;;
     }
  }
  .list-none{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .fa-sign-out-alt{
      &:hover{
          cursor: pointer;
      }
  }
 