header{
    background-color: var(--header-color);
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index:999;
    height: 50px;
    &.ttd-header{
        height: 150px;
        background-color: #fff;
        border-bottom: 1px solid #c8ced3;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
}

.app-name {
    font-size: 20px;
    font-weight: bold;
}

  
  .navbar {
      padding-top:0;
      padding-bottom: 0;
  }
  .nav-item {
      // background-color: var(--primary);
       color: white !important;
       cursor: pointer;
       padding: 5px 10px;
       height: 50px;
    
     &.active {
         border-bottom: 2px solid white;;
     }
  }
  .list-none{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .fa-sign-out-alt{
      &:hover{
          cursor: pointer;
      }
  }
 