header{
    background-color: var(--header-color);
    margin: 0px;
}
:host /deep/ ngb-tabset {
    .nav-tabs{
      border-bottom: 1px solid var(--primary);
      .nav-link:hover,.nav-link.focus{
        border-color: var(--primary);
      }
    }
   
    .nav-item {
     // background-color: var(--primary);
      color: white !important;
    }
    a {
      color: white;
    }
  }
  
  .navbar {
      padding-top:0;
      padding-bottom: 0;
  }
  .nav-item {
      // background-color: var(--primary);
       color: white !important;
    
     a {
       color: white;
     }
     &.active {
         border-bottom: 2px solid white;;
     }
  }