<header [ngClass]="{'ttd-header':(user.category == 'ttd')}">
  <div class="row align-items-center" *ngIf="user.category == 'ttd'">
    <div class="col-3">
      <a href="/">
        <img src="./assets/images/logo.png" />
        </a>
    </div>
    <div class="col-6">
      <img src="./assets/images/logo-txt.png" />
    </div>
    <div class="col-3">
    
      <img width="170" src="./assets/images/logo-2.png" />

  </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-primary" *ngIf="user.category == 'other'">
    <div class="d-flex w-100 justify-content-space-between align-items-center">

    <ul class="navbar-nav mr-auto">
     
        <!-- <li class="nav-item" routerLink="/smb" routerLinkActive="active">SMB
        </li>
        <li class="nav-item" routerLink="/tracker/list" routerLinkActive="active">
          Tracker
        </li> -->
        <li class="nav-item">Smarttrack</li>
      
    </ul>
    <div>
      <ul class="list-none text-light d-flex flex-row">
        <li class="pr-3">Hi, {{user?.username}} </li>
        <li><i title="logout" (click)="logout()" class="fas fa-sign-out-alt" aria-hidden="true"></i></li>
      </ul>
    </div>

    </div>
  
    
</nav>
</header>

