
<section class="tracker-content">
  
  <div class="tracker-route">
    <div class="row">
      <div class="col-3">
        <ul class="list-group tracker-list">
          <!-- <li class="list-group-item" routerLink="/tracker/home" routerLinkActive="active">Home</li>
          <li class="list-group-item" routerLink="/tracker/status" routerLinkActive="active">Status</li>
          <li  class="list-group-item" routerLink="/tracker/location" routerLinkActive="active">Location Setup</li>
          <li class="list-group-item" routerLink="/tracker/control" routerLinkActive="active" >Control</li>
          <li class="list-group-item" routerLink="/tracker/checklist" routerLinkActive="active">Check List</li> -->
          <li class="list-group-item" *ngFor="let smb of smbsList" [ngClass]="{'active':isLinkActive(smb)}" (click)="navigate(smb)" >{{smb}}</li>
        </ul>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-md-7">
            <div class="flex">
              <div class="card">
                <div class="label">DC Voltage</div>
                <div class="val">0 <span class="unit">V</span></div>
              </div>
              <div class="card">
                <div class="label">Sum of Currents</div>
                <div class="val">0 <span class="unit">A</span></div>
              </div>
            </div>
            <div class="card">
              <div class="label">Power</div>
              <div class="val">0.00 <span class="unit">KW</span></div>
            </div>
          </div>
          <div class="col-md-5">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">String</th>
                <th scope="col">Current [A]</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let string of smbStrings; index as i">
                <td>{{ string.name }}</td>
                <td class="text-center">{{ string.val }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="chart">
            <div ><b>Voltage</b></div>
            <ngx-charts-line-chart
                [results]="results"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'A'"
                [autoScale]="autoScale"
                [timeline]="timeline"
                [maxXAxisTickLength]="30"
                [xAxisTickFormatting]="tickFormatting">
                <ng-template #tooltipTemplate let-model="model">
                    <div>{{ tickFormatting(model.name)}}</div>
                    <span>{{model.series }}: {{model.value}}</span>
                </ng-template>
                <!-- <ng-template #seriesTooltipTemplate let-model="model">
                    <div>Device: {{ model[0].series }}</div>
                    <span>{{tickFormatting(model[0].name)}}: {{model[0].value}}</span>
                </ng-template> -->

            </ngx-charts-line-chart>
        </div> 
        </div>
       
      </div>
    </div>
    
  </div>

  

  
</section>
