.tracker-content{
    padding: 20px 30px;
}
.tracker-head{
    border-bottom: 1px solid var(--line-color);
    margin-bottom: 20px;
}
.tracker-route{

}
.tracker-list{
    li{
        outline: none;
        &:hover{
            cursor: pointer;
        }
    }
}

.flex {
    display: flex;
   
}
.card {
    flex-grow: 1;
    margin:10px;
    padding:1rem;
    text-align: center;
    border-color: var(--primary);

    .label {
        font-size: 1rem;
        font-weight: 600;
    }
    .val {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--primary);
    }
    .unit {
        font-size: 1.2rem;
        font-weight: normal;
        color: rgba(0,0,0,0.6);
    }
}
tbody {
    td {
        padding:0.25em 0.75em
    }
}
.text-center {
    text-align: center;
}