
<section class="tracker-content">
  
  <div class="tracker-route">
    <div class="select-cntr">
      <div class="select"><label>Device: </label><ngx-select [items]="smbsList" [placeholder]="'Select Device'" [(ngModel)]="smbSelected" (select)="changeDevice($event)"></ngx-select></div>
      
    </div>
    <div class="row mt-3">
    
      <div class="col-12">
        <div class="row">
          <div class="col-md-7">
            <div class="card card-blue">
              <div>
                DC Voltage
              </div>
              <div class="val">{{dashboardValues?.voltage| number:'1.0-1'}} <span class="unit">V</span></div>
            </div>
            <div class="card card-yellow">
              <div>
                Sum of Currents
              </div>
              <div class="val">{{dashboardValues?.current| number:'1.0-1'}} <span class="unit">A</span></div>
            </div>
            <div class="card card-red">
              <div>
                Power
              </div>
              <div class="val">{{dashboardValues?.power| number:'1.0-1'}} <span class="unit">KW</span></div>
            </div>
          
          </div>
          <div class="col-md-5">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">String</th>
                <th scope="col">Current [A]</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let string of stringValues; index as i">
                <td>{{ string.name }}</td>
                <td class="text-center">{{ string?.current }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" *ngIf="results.length">
          <div class="chart">
            <div ><b>Current</b></div>
            <ngx-charts-line-chart
                [results]="results"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="'A'"
                [autoScale]="autoScale"
                [timeline]="timeline"
                [maxXAxisTickLength]="30"
                [xAxisTickFormatting]="tickFormatting">
                <ng-template #tooltipTemplate let-model="model">
                    <div>{{ tickFormatting(model.name)}}</div>
                    <span>{{model.series }}: {{model.value}}</span>
                </ng-template>
                <!-- <ng-template #seriesTooltipTemplate let-model="model">
                    <div>Device: {{ model[0].series }}</div>
                    <span>{{tickFormatting(model[0].name)}}: {{model[0].value}}</span>
                </ng-template> -->

            </ngx-charts-line-chart>
        </div> 
        </div>
       
      </div>
    </div>
    
  </div>

  

  
</section>
