<section id="power">
  <div class="">
    <div class="panel-heading row align-items-center">
      <div class="col-3">
          <h4 class="text-primary mt-2 d-inline-block">OVERVIEW </h4>
      </div>
      <div class="col-9">

      <select [(ngModel)]="selectedDevice" (change)="changeDevice($event.target.value)">
          <option value="">Select Device</option>
          <option *ngFor="let device of devicesList" [value]="device">{{device}}</option>
        </select>
      </div>

      

    </div>
    <div class="panel-body">

      <ng-container *ngIf="isLoading;else elsTpl"> 
          <div class="text-center loading">

        <i class="fa fa-spinner fa-spin text-primary fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
          </div>
      </ng-container>
      <ng-template #elsTpl>
        <div *ngIf="data" class="device-details">
            <div>Device Name : <b>{{data[0]?.deviceName}}</b></div>
            <div>Device id : <b>{{data[0]?.deviceId}}</b></div>
        </div>
              <div class="chart" *ngIf="rphvolData?.length">
                  <div ><b>Voltage</b></div>
                  <ngx-charts-line-chart
                      [results]="rphvolData"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="'Voltage'"
                      [autoScale]="autoScale"
                      [timeline]="timeline"
                      [maxXAxisTickLength]="30"
                      [xAxisTickFormatting]="tickFormatting">
                      <ng-template #tooltipTemplate let-model="model">
                          <div>Device: {{ model.series }}</div>
                          <span>{{tickFormatting(model.name)}}: {{model.value}}</span>
                      </ng-template>
                      <ng-template #seriesTooltipTemplate let-model="model">
                          <div>Device: {{ model[0].series }}</div>
                          <span>{{tickFormatting(model[0].name)}}: {{model[0].value}}</span>
                      </ng-template>

                  </ngx-charts-line-chart>
              </div> 
              <div class="chart" *ngIf="rphpfData?.length">
                  <div><b>PF</b></div>
                  <ngx-charts-line-chart
                  
                      
                      [results]="rphpfData"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="'PF'"
                      [autoScale]="autoScale"
                      [timeline]="timeline"
                      [xAxisTickFormatting]="tickFormatting"
                      (select)="onSelect($event)" [maxXAxisTickLength]="30">
                      <ng-template #tooltipTemplate let-model="model">
                          <div>Device: {{ model.series }}</div>
                          <span>{{tickFormatting(model.name)}}: {{model.value}}</span>
                      </ng-template>
                      <ng-template #seriesTooltipTemplate let-model="model">
                          <div>Device: {{ model[0].series }}</div>
                          <span>{{tickFormatting(model[0].name)}}: {{model[0].value}}</span>
                      </ng-template>
              </ngx-charts-line-chart>
              </div> 
              <div class="chart" *ngIf="rphcuData?.length">
                  <div><b>Current</b></div>
                  <ngx-charts-line-chart
                  
                      [results]="rphcuData"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="'Current'"
                      [autoScale]="autoScale"
                      [timeline]="timeline"
                      (select)="onSelect($event)" [maxXAxisTickLength]="30"
                      [xAxisTickFormatting]="tickFormatting">
                      <ng-template #tooltipTemplate let-model="model">
                          <div>Device: {{ model.series }}</div>
                          <span>{{tickFormatting(model.name)}}: {{model.value}}</span>
                      </ng-template>
                      <ng-template #seriesTooltipTemplate let-model="model">
                          <div>Device: {{ model[0].series }}</div>
                          <span>{{tickFormatting(model[0].name)}}: {{model[0].value}}</span>
                      </ng-template>
              </ngx-charts-line-chart>
              </div> 
              <h4  class="m-b-10 mt-2 text-primary" *ngIf="data">Device Status</h4>
              <div class="table-ctnr row m-t-10" *ngIf="data">
                  
              <table class="table table-striped" >
                  <thead>
                  <tr>
                    <th scope="col" *ngFor="let cols of tableHeaders">{{cols}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let row of data">
                    
                    
                    <td *ngFor="let cols of tableHeaders">{{ row[cols] }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
      </ng-template>
    </div>
  </div>
      
</section>