<div class="row text-center">
  <div class="col-md-12">
      <div class="error-template">
          <h1>
              Oops!</h1>
          <h2>
              404 Not Found</h2>
          <div class="error-details mb-2">
               Requested page not found!
          </div>
          <div class="error-actions">
              <button (click)="navigate()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                  Take Me Home </button>
          </div>
      </div>
  </div>
</div>