<section class="tracker-content">
 
  <div class="tracker-route">
    <div class="row">
      <!-- <div class="col-2">
        <ul class="list-group tracker-list">
          <li class="list-group-item" routerLink="" routerLinkActive="active">Overview</li>
          <li class="list-group-item" routerLink="/smb" routerLinkActive="active">SMB</li>
        </ul>
      </div> -->
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </div>

  

  
</section>
