<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="card " >
      <div class="card-status-top tracker-sun-angle text-center">
        <h3 class="text-light">Sun Angle</h3><br/>
        <h2 class="text-light">{{trackerDetails?.Sun_Angle}}</h2>
      </div>
      
      <div class="card-body">
        <div class="text-center image-direction">
          <img #sun class="sun-img" src="./assets/images/sun.png" />
          <img src="./assets/images/direction.png" width="200" />
        </div>
        
        
      </div>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="card " >
      <div class="card-status-top tracker-angle text-center">
        <h3 class="text-light">Tracker Angle</h3><br/>
        <h2 class="text-light">{{trackerDetails?.Tracker_Angle}}</h2>
      </div>
      
      <div class="card-body">
        <div class="text-center image-direction">
          <img #sun1 class="sun-img" src="./assets/images/sun.png" />
          <img src="./assets/images/direction.png" width="200" />
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="card " >
      <div class="card-status-top tracker-mode text-center">
        <h3 class="text-light">Tracker Mode</h3><br/>
        <h2 class="text-light">{{trackerDetails?.Mode}}</h2>
      </div>
      
      <div class="card-body">
        <div class="text-center">
          <img src="./assets/images/settings-direction.png" width="175" />
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="card " >
      <div class="card-status-top motor-status text-center">
        <h3 class="text-light">Motor Status</h3><br/>
        <h2 class="text-light"><b>{{trackerDetails?.Motor_Status}}</b></h2>
      </div>
      
      <div class="card-body d-flex">
        <div class="circle " [ngClass]="{'circle-red':(trackerDetails?.Motor_Status == 'Stop'),'circle-green':(trackerDetails?.Motor_Status != 'Stop')}"></div>
        
      </div>
    </div>
  </div>
</div>