<div class="row">
  <div class="col-3">
    <div class="card " >
      <div class="card-status-top tracker-sun-angle text-center">
        <h3 class="text-light">Sun Angle</h3><br/><br/>
        <h2 class="text-light">43.43</h2>
      </div>
      
      <div class="card-body">
        
        
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card " >
      <div class="card-status-top tracker-angle text-center">
        <h3 class="text-light">Tracker Angle</h3><br/><br/>
        <h2 class="text-light">43.43</h2>
      </div>
      
      <div class="card-body">
        
        
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card " >
      <div class="card-status-top tracker-mode text-center">
        <h3 class="text-light">Tracker Mode</h3><br/><br/>
        <h2 class="text-light">43.43</h2>
      </div>
      
      <div class="card-body">
        
        
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card " >
      <div class="card-status-top motor-status text-center">
        <h3 class="text-light">Motor Status</h3><br/><br/>
        <h2 class="text-light">Stop</h2>
      </div>
      
      <div class="card-body">
        
        
      </div>
    </div>
  </div>
</div>