<div class="container app-container">
  <nav class="navbar navbar-expand-lg bg-primary">
  
  
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active">33/11 KV Sub Station </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">Distribution Transformer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="privacy" routerLinkActive="active">Solar Plant and  WindMill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="terms" routerLinkActive="active">Street Light</a>
        </li>
      </ul>
  </nav>
  <app-header></app-header>
  <div class="app-content pt-3">
      <router-outlet></router-outlet>
  </div>
</div>