.tab-content {
    padding: 10px 0px;
  }
 

  
  .app-container{
    // display: grid;
    // grid-template-rows: auto 1fr;
    // grid-template-columns: 100%;
    min-height: 100%;
    // max-width: 90%;
    margin: auto;
    background: #fff;
    padding: 0 !important;
     
  }
  .ttd-nav {
    top:150px;
  }
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    color: #b8bfce;
    z-index: 1;
    top: 150px;
    left: 0;
    background-color: #31353D;
    overflow-x: hidden;
    
    a{
      &:hover,
      &.active{
        color: #f1f1f1;
        background: #b22f30 !important;
      }
    }
  }
  
  .sidenav a {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    transition: 0.3s;
    /* font-size: 25px; */
    color: rgba(#fff,0.5);
    display: block;
    border-bottom: 1px solid #3a3f48;
    //text-transform: uppercase;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-top:50px;
    &.ttd-main{
      margin-left: 200px; /* Same as the width of the sidenav */
      margin-top: 150px !important;
    }
    
    
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.sidenav .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidenav .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidenav .sidebar-header .user-info {
  float: left;
}

.sidenav .sidebar-header .user-info > span {
  display: block;
}
.sidenav .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidenav .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}
.navbar-nav{
  border-top: 1px solid #3a3f48;
  clear: both;
}
.sidebar-header{
  padding: 20px;
    overflow: hidden;
    color: #fff;
}

