<div class="container-fluid app-container">
 
  <app-header></app-header>
  <app-loader></app-loader>
  <div class="">
    <div class="sidenav" *ngIf="user.category == 'ttd'" [ngClass]="{'ttd-nav':user.category == 'ttd'}">
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="/assets/images/user.jpg" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>{{user?.username}}</strong>
          </span>
          
          
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"  *ngIf="user.category == 'ttd'">
          <a routerLink="/station/device" routerLinkActive="active">
            Sub Stations
          </a>
          
        </li>
       
        <li class="nav-item"  *ngIf="user.category == 'ttd'">
          <a routerLink="/station/street-light" routerLinkActive="active">
            Street Lights
          </a>
          
        </li>
        <li>
          <a href="javascript:void(0)" (click)="logout()">Logout</a>
        </li>
      
        
      </ul>
    
    </div>
   
    <div class="main " [ngClass]="{'ttd-main':(user.category == 'ttd')}">
      <div class="smb-menu" *ngIf="user.category == 'other'">
        <ul class="list-none pl-0 menu-list mb-0">
          <li >
            <a routerLink="/plant-view" routerLinkActive="active">
              Plant View
            </a>
            
          </li>
          <li >
            <a routerLink="/sld" routerLinkActive="active">
              SLD
            </a>
            
          </li>
          <li >
            <a routerLink="/layout" routerLinkActive="active">
              Layout
            </a>
            
          </li>
          <li >
            <a routerLink="/power" routerLinkActive="active">
              Power
            </a>
            
          </li>
          <li >
            <a routerLink="/ht-panels" routerLinkActive="active">
              HT-Panels
            </a>
            
          </li>
          <li >
            <a routerLink="/inverters" routerLinkActive="active">
              Inverters
            </a>
            
          </li>
          <li >
            <a routerLink="/rmu" routerLinkActive="active">
              Rmu
            </a>
            
          </li>
          <li   >
            <a routerLink="/smb" routerLinkActive="active">
              Smb
            </a>
            
          </li>
          <li >
            <a routerLink="/tracker/list" routerLinkActive="active">
              Trackers
            </a>
            
          </li>
          <li >
            <a routerLink="/alarms" routerLinkActive="active">
              Alarms
            </a>
            
          </li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
      
  </div>
</div>