

<div>
    <div class="plant-name">
        XYZ Solar Power Ltd, 20MW Solar Power Plant<br/>
        Sadasivpet
    </div>
    <div class="plant-chain d-flex justify-content-between">
        <div class="line"></div>
        <div class="sun-with-solar ">
            <div class="grey-card">
                <img src="./assets/images/panel-with-sun.png" />
            </div>
            <span class="arrow-head l-170">>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></span>
            
            <dl>
                <dt>Radiation Fixed:</dt>
                <dd><b>93.73</b> &nbsp;<span class="gray">W/m2</span> </dd>
                <dt>Radiation Tilt:</dt>
                <dd><b>57.35</b> &nbsp;<span class="gray">W/m2</span></dd>
                <dt>Irradiation Fixed:</dt>
                <dd><b>4.250</b> &nbsp;<span class="gray">kWh/m2</span> </dd>
                <dt>Irradiation Tilt:</dt>
                <dd><b>4.690</b> &nbsp;<span class="gray">kWh/m2</span></dd>
                <dt>Ambient Temp:</dt>
                <dd><b>27.65</b> &nbsp;<span class="gray">&#8451;</span> </dd>
                <dt>Module Temp:</dt>
                <dd><b>36.07</b> &nbsp;<span class="gray">&#8451;</span></dd>
            </dl>
        </div>
        <div class="solar ">
            <div class="grey-card">
                <img src="./assets/images/panel.jpg" />
            </div>
            <span class="arrow-head l-170">>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></span>
            <dl>
                <dt>DC Power:</dt>
                <dd><b>1142</b> &nbsp;<span class="gray">kW</span> </dd>
                <dt>Max.DC Power:</dt>
                <dd><b>19913.00</b> &nbsp;<span class="gray">kW</span></dd>

            </dl>
        </div>
        <div class="ac-power">
            <div class="grey-card">
                <img src="./assets/images/ac.png" />
            </div>
            <span class="arrow-head l-170">>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></span>
            <dl>
                <dt>AC Power:</dt>
                <dd><b>1104.30</b> &nbsp;<span class="gray">kW</span></dd>
                <dt>Max.AC Power:</dt>
                <dd><b>19365.60</b> &nbsp;<span class="gray">kW</span></dd>
                <dt>Today Energy:</dt>
                <dd><b>78531</b> &nbsp;<span class="gray">kWh</span></dd>
                <dt>Total Energy:</dt>
                <dd><b>59649.2910</b> &nbsp;<span class="gray">MWh</span></dd>
                
            </dl>
        </div>
        <div class="substation">
            <div class="grey-card">
                <img src="./assets/images/substation.jpg" />
            </div>
            <span class="arrow-head l-170">></span>
            <dl>
                <dt>Today IMPORT:</dt>
                <dd><b>484.944</b> &nbsp;<span class="gray">kWh</span></dd>
                <dt>Today EXPORT:</dt>
                <dd><b>77651.969</b> &nbsp;<span class="gray">kWh</span></dd>
                <dt>Life IMPORT:</dt>
                <dd><b>345.2198</b> &nbsp;<span class="gray">MWh</span></dd>
                <dt>Life EXPORT:</dt>
                <dd><b>61566.9084</b> &nbsp;<span class="gray">MWh</span></dd>
                
            </dl>
        </div>
        <div class="output">
            <div class="danger-box">
                TO<br/>
                220/132 KV <br/>
                Sadasivpet 
                Substation

            </div>
            
        </div>

    </div>
</div>