<section class="tracker-list">


  
  <div class="row">
    <div class="col-12">
      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col">Trackers</th>
            <th scope="col">Sun Angle</th>
            <th scope="col">Tracker Angle</th>
            <th scope="col">Last updated</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of trackerList" [routerLink]="['/tracker',item.Tracker,'home']">
            <td>{{item?.Tracker}}</td>
            <td>
              {{item?.Sun_Angle}}
              
              </td>
              <td>
                {{item?.Tracker_Angle}}
                
                </td>
                <td>
                  {{item.time | date:'dd-MM-yyyy HH:MM:SS'}}
                </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
  

  


</section>