
<div class="row">
  <div class="col-6">
    <form class="location-form" [formGroup]="locationForm">
      <h3>Timestamp</h3>
      <div class="form-group row">
        <label for="datetime" class="col-sm-3 col-form-label">Date time</label>
        <div class="col-sm-9">
          <input  formControlName="datetime"  id="datetime" mask="d0/M0/0000 Hh:m0:s0" placeholder="dd/mm/yyyy hh:mm:ss" />
          <button class="btn btn-primary inline-btn">Send</button>
        </div>
      </div>
      <h3>Location</h3>
      <div class="form-group row">
        <label for="latitude" class="col-sm-3 col-form-label">Latitude</label>
        <div class="col-sm-9">
          <input type="text" mask="separator" thousandSeparator="," formControlName="latitude" id="latitude" placeholder="Latitude">
          <button class="btn btn-primary inline-btn">Send</button>
        </div>
      </div>
      <div class="form-group row">
        <label for="longitude"  class="col-sm-3 col-form-label">Longitude</label>
        <div class="col-sm-9">
          <input type="text" mask="separator" thousandSeparator="," formControlName="longitude" id="longitude" placeholder="longitude">
          <button class="btn btn-primary inline-btn">Send</button>
        </div>
      </div>
      <div class="form-group row">
        <label for="timezone" class="col-sm-3 col-form-label">TimeZone</label>
        <div class="col-sm-9">
          <input type="text" mask="separator" thousandSeparator="," formControlName="timezone"  id="timezone" placeholder="Timezone">
          <button class="btn btn-primary inline-btn">Send</button>
        </div>
      </div>
      <h3>Tracker Limits</h3>
      <div class="form-group row">
        <label for="eastLimit" class="col-sm-3 col-form-label">East Limit</label>
        <div class="col-sm-9">
          <input type="text" mask="separator" thousandSeparator="," formControlName="eastLimit"  id="eastLimit" placeholder="East Limit">
          <button class="btn btn-primary inline-btn">Send</button>
        </div>
      </div>
      <div class="form-group row">
        <label for="westLimit" class="col-sm-3 col-form-label">West Limit</label>
        <div class="col-sm-9">
          <input type="text" mask="separator" thousandSeparator="," formControlName="westLimit"  id="westLimit" placeholder="West Limit">
          <button class="btn btn-primary inline-btn">Send</button>
        </div>
      </div>
      
    </form>
  </div>
  <div class="col-6 align-items-center d-flex justify-content-center">
    <img src="./assets/images/globe.png" width="200" />
  </div>
</div>  
  

